<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Công ty Cổ phần Chứng khoán EVS</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/z.css" asp-append-version="true" />
</head>
<body>
    <div class="c_m15jgy"></div>
    <div class="c_hbvaek">

        <partial name="_Sidebar" />

        <main class="c_5kyhd1">
            <partial name="_TopNav" />

            <section class="c_czj6sa">
                @RenderBody()
            </section>
        </main>

    </div>

    <footer class="c_hwqf35">
        <p>Copyright &copy; 2026 Công ty Cổ phần Chứng khoán EVS. Designed by <a href="" target="_blank" rel="nofollow">EVS</a></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/script.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
