<aside class="c_yhhnq4" id="c_yhhnq4">
    <div class="c_juzha">
        <a href="/" class="">
            <img src="~/favicon.ico" alt="Logo">
        </a>
        <span class="c_qkip69">Evs</span>
    </div>
    <ul class="c_xuw0cp">
        <li class="c_xutrb1">
            <a href="#" class="c_xuvgbo">
                <i class="fas fa-home c_xutexv"></i> Trang chủ
            </a>
        </li>
        <li class="c_xutrb1 c_y1x1m4">
            <a href="#" class="c_xuvgbo">
                <i class="fas fa-bars c_xutexv"></i> Main Menu
                <i class="fas fa-chevron-down c_leyg63"></i>
            </a>
            <ul class="c_uw1c9t">
                <li><a asp-controller="DashBoard" asp-action="Index" class="c_xuvgbo">Dashboard</a></li>
                <li><a href="#" class="c_xuvgbo">Analytics</a></li>
                <li><a href="#" class="c_xuvgbo">Users</a></li>
                <li><a href="#" class="c_xuvgbo">Settings</a></li>
            </ul>
        </li>
        <li class="c_xutrb1 c_y1x1m4">
            <a href="#" class="c_xuvgbo">
                <i class="fas fa-user c_xutexv"></i> Account
                <i class="fas fa-chevron-down c_leyg63"></i>
            </a>
            <ul class="c_uw1c9t">
                <li><a href="#" class="c_xuvgbo">Logout</a></li>
            </ul>
        </li>
    </ul>
</aside>
