* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    color: white;
}

/* TOP SECTION */
.top-section {
    background: linear-gradient(135deg, #9d3ec5, #4e27a8, #c2185b);
    padding: 40px 80px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.login-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.login-left {
    width: 40%;
}

.input-group {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.input-group i {
    color: #e53935;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
}

.toggle {
    cursor: pointer;
}

.login-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-login {
    background: #ff1744;
    border: none;
    padding: 12px 25px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-login:hover {
    background: #d50000;
}

.forgot {
    font-size: 14px;
}

.forgot a {
    color: #fff;
    text-decoration: underline;
}

.login-right {
    text-align: center;
}

.qr-box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* SERVICE SECTION */
.service-section {
    padding: 50px 80px;
    background: #262626;
}

.top-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 40px;
}

.icon-item {
    text-align: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #b2b57a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    color: #ff1744;
    margin-bottom: 10px;
}

.circle:hover {
    transform: translateY(-6px);
    background: #c8d48b;
}

.toggle{
    cursor: pointer;
}

/* CARDS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột */
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.card:hover {
    transform: translateY(-6px);
    background: #222;
}

.card-icon {
    font-size: 22px;
    color: #ff1744;
    margin-bottom: 15px;
    background: #111;
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.card p {
    color: #cfcfcf;
    font-size: 14px;
    line-height: 1.5;
}